# build folders #
###############
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Bb]uild/
[Pp]ackages/

# Visual Studio User File #
###########################
*.suo
*.user
.vs/